@import "bootstrap-sprockets";
@import "bootstrap";

// Set header background to orange and text to white
.navbar-default {
  background-color: #ff7200;
  .navbar-nav > li > a {
    color: #fff;
  }
  .navbar-brand {
    color: #fff;
  }
}

.review_title {
	margin: 0 0 20px 0;
}

.reviews {
	padding: 15px 0;
	border-bottom: 1px solid #EAEAEA;
	.star-rating {
		padding-bottom: 8px;
	}
}

.btn-default {
  color: #fff;
  border-color: #ff7200;
  background-color: #ff7200;
}

.review-form {
  margin-top: 65px;
}

.shop-form {
  margin-top: 65px;
}

